.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #FFC53B;
  padding-top: 20px;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    height: 100vh;
    gap: 30px;
    max-width: 992px;
    margin: 0 auto;

    span {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 900;
      font-size: 2rem;
      line-height: 40px;
      text-align: center;

      color: #FFFFFF;
    }

    .inputButtonGroup {
      display: flex;
      height: 50px;
      background: #FFFFFF;
  
      border-radius: 10px;

      button {
        background: #ED541A;
        border-radius: 10px 0px 0px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0;
        width: 50px;
        height: 100%;


        font-family: Montserrat;
        font-style: normal;
        font-weight: 900;
        font-size: 36px;
        line-height: 44px;
        /* identical to box height */

        text-align: center;
        outline: 0;
        cursor: pointer;

        color: #FFFFFF;

        &:last-child {
          border-radius: 0px 10px 10px 0px;
        }
      }

      input {
        border: 1px solid #ED541A;
        display: flex;
        text-align: center;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        text-align: center;
        outline: 0;

        color: #000000;
      }
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      border:  0;
      background: #ED541A;
      border-radius: 50px;
      width: 100px;
      padding: 10px;
      outline: 0;
      cursor: pointer;

      font-family: Montserrat;
      font-style: normal;
      font-weight: 900;
      font-size: 20px;
      line-height: 24px;
      text-align: center;

      color: #FFFFFF;
    }
  }
}