$main-color: #ffc53b !default;
$title-main-color: #ed541a !default;

.root {
  display: flex;
  flex-direction: column;
  align-items: center;

  .rowTitle {
    font-size: 1.2rem;
    background-color: #e5e5e5;
    border-radius: 15px 15px 0 0;
    padding: 14px 24px;
    font-weight: 900;
    font-family: Montserrat, sans-serif;
    display: flex;
    justify-content: space-between;
    
    span {
      font-size: 1rem;
      opacity: 0.5;
    }
  }

  .container {
    width: 90%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    
    .requestContainer {
      width: 65%;
      display: flex;
      flex-direction: column;
      min-width: 200px;
    }

    aside {
      position: relative;
      width: 30%;
      min-width: 250px;
      height: 100%;
      background: rgb(143,143,143);
background: linear-gradient(90deg, rgba(143,143,143,1) 0%, rgba(255,246,246,1) 100%, rgba(78,222,252,1) 100%, rgba(0,212,255,1) 100%);
      border-radius: 15px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding: 10px;


      h3 {
        text-align: center;
        font-size: 1.4rem;
      }

      h3, span {
        border-radius: 15px 15px 0 0;
        padding: 14px 24px;
        font-weight: 900;
        font-family: Montserrat, sans-serif;
      }

      .listRequest, .totalPrice {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px dashed #CCCCC9;
        width: 100%;
      }

      span {
        font-size: 1rem;
        
        &:last-child {
          color: red;
        }
      }

      .totalPrice {
        span {
          font-size: 1.6rem;
        }
        
      }

      button {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        background: rgb(224,27,27);
        background: linear-gradient(90deg, rgba(224,27,27,1) 0%, rgba(194,189,116,1) 100%, rgba(104,187,212,1) 100%, rgba(78,222,252,1) 100%, rgba(255,246,246,1) 100%, rgba(0,212,255,1) 100%);
        color: #FFFF;
        width: max-content;
        margin-top: 20px;
        transition: 0.2s;


        p {
          font-family: 'Montserrat';
          font-size: 1rem;
        }

        &:hover {
          filter: brightness(0.9);
        }
      }
    }
  }
  
  .button  {
    background-color: $main-color;
    color: $title-main-color;
    border-radius: 40px;
    margin-bottom: 20px;
    text-decoration: none;
    padding: 10px 30px;
    text-transform: capitalize;
    font-family: Montserrat,sans-serif;
    font-weight: 900;
    
    p {
      text-transform: capitalize;
      font-family: sans-serif;
      font-weight: 900;
    }
  }
}
