.root {
    background-color: #d3d3d3;
    margin-bottom: 40px;
    
  .ingredientRowHeader {
    display: flex;
    align-items: center;
    padding: 0 8px;
  }
  .listIcon{
    max-width: 40px;
  }
}
